# Análise exploratória de dados
Dados: https://www.kaggle.com/datasets/parulpandey/forbes-highest-paid-athletes-19902019
## Forbes Highest Paid Athletes 1990-2020
Lista completa dos atletas mais bem pagos do mundo desde a primeira lista publicada pela Forbes em 1990. Em 2002, alteraram o período abrangido pelo relatório, de ano civil completo para Junho-Junho, e consequentemente, não existem registos para 2001.

### Importação das libs

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Carregamento de dados

In [10]:
dt = pd.read_csv('../../data/raw/datarich.csv')
dt.head()

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0

## 1. Descrição dos dados

In [16]:
#Informações basicas
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   S.NO                  301 non-null    int64
 1   Name                  301 non-null    object
 2   Nationality           301 non-null    object
 3   Current Rank          301 non-null    int64
 4   Previous Year Rank    277 non-null    object
 5   Sport                 301 non-null    object
 6   Year                  301 non-null    int64
 7   earnings ($ million)  301 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 18.9+ KB

In [36]:
#variáveis e seus tipos
dicionario = dt.columns.to_frame(name="Variaveis").reset_index(drop=True)
dicionario["Significado"] = [
    "Serial Numbers",
    "Nome",
    "Nacionalidade",
    "Rank Atual",
    "Rank previsão",
    "Esporte",
    "Ano",
    "Ganhos ($ milhões)"]
dicionario["Significado"] = [
    "Números de série",
    "Nome",
    "Nacionalidade",
    "Rank Atual",
    "Rank Anterior",
    "Esporte",
    "Ano",
    "Ganhos ($ milhões)"]
#Tipos em Quantitativos e Qualitativos
dicionario["Tipo"] = [ 
    "Continuo",
    "Nominal",
    "Nominal",
    "Ordinal",
    "Ordinal",
    "Nominal",
    "Continuo",
    "Continuo"]
dicionario

              Variaveis         Significado      Tipo
0                  S.NO    Números de série  Continuo
1                  Name                Nome   Nominal
2           Nationality       Nacionalidade   Nominal
3          Current Rank          Rank Atual   Ordinal
4    Previous Year Rank       Rank Anterior   Ordinal
5                 Sport             Esporte   Nominal
6                  Year                 Ano  Continuo
7  earnings ($ million)  Ganhos ($ milhões)  Continuo

In [20]:
#Quantas linhas e colunas?
linhas = dt.shape[0]
colunas = dt.shape[1]
print("O data frame possui ",linhas," linhas e ",colunas," colunas.")

O data frame possui  301  linhas e  8  colunas.

In [24]:
#Quantidade de valores faltantes?
nulos = dt.isnull().sum().sum()
print("A quantidade total de nulos no data frame é:",nulos)

A quantidade total de nulos no data frame é: 24

## 2. Perguntas de partida e hipóteses

1. Quais os dez atletas mais bem pago durante 1990 a 2020?
2. Qual pais(nacionalidade) que tem mais atletas mais bem pagos?
3. Quais os atletas brasileiros mais bem pagos?
4. Quais os top 1 de cada ano?
5. Quais atletas apareceram mais vezes no top 1?
6. Qual atleta ficou mais anos consecutivos no top 1?
7. Qual o menor valor ganho do data frame?
8. Qual o maior valor ganho de um atleta top 1?
9. Qual esporte tem mais atletas em 1990?
10. Qual esporte tem mais atletas em 2020?

## 3. Insights